<a href="https://colab.research.google.com/github/sourav4152/python_learning/blob/main/day1_learning_basic.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
age= 23
title= "Gupta"
print("My age:" ,type(age))

My age: <class 'int'>

In [ ]:
age="Sourav Kumar"
print("Title:", title)
print(type(age))

Title: Gupta
<class 'str'>

In [ ]:
name="Sourav Kumar"
message='I am Msc 2nd year student'
collage="""NIT Hamirpur
Himachal Perdesh"""
print("multi_line data type:",type( collage), type(message), type(name))
print("My Data:",name, message, collage, sep='\n')

multi_line data type: <class 'str'> <class 'str'> <class 'str'>
My Data:
Sourav Kumar
I am Msc 2nd year student
NIT Hamirpur
Himachal Perdesh

In [ ]:
#Basic Arithmetic operation
print(10/3)
print(10//3)
print(10**2)
print(10%3)

3.3333333333333335
3
100
1

In [ ]:
#logic of or and not
x = 0
y = 1
print(x < y and x > 0)
print(not x)
print((x and y))

False
True
0

In [ ]:
score = 85
if score >= 90:
    grade = "A"
elif score >= 80:
    grade = "B"
else:
    grade = "C"
print(grade)

B

In [ ]:
# loops

for i in range(5):
    print(i);

# for i in range(1,5):
#     print(i)

print("iterate over list:")
names=["Sourav", "Ritesh", "Anik", "Akki","Rajat"]
for name in names:
    print(name)

print("iteration with index:")
for index, name in enumerate(names):
    print(f"Index {index}:{name}") # f"....." use for formatting

0
1
2
3
4
iterate over list:
Sourav
Ritesh
Anik
Akki
Rajat
iteration with index:
Index 0:Sourav
Index 1:Ritesh
Index 2:Anik
Index 3:Akki
Index 4:Rajat